/*********************************
            PAGINA INDEX
*********************************/
body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
   }
  
.u-text-align-center {
  text-align: center; }

.u-text-align-justify {
  text-align: justify; }

.u-text-align-left {
  text-align: left; }

.u-text-align-right {
  text-align: right; }

.section-cards__header p{
  margin-left: 2%;
  font-size: xx-large;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    margin: 2.5% 10% 2% 10%;
}

@media (min-width: 1200px) {
    .cards-container {
        gap: 3em;
    }
}

@media (max-width: 1200px){
  .cards-container {
    margin-top: 3% ;
}
}